#main{
    /* border: 2px solid; */
    height: 600px;
}

#sub-main{
    /* border: 2px solid; */
    height: inherit;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sub-main-left, #sub-main-right{
    flex: 1;
    height: inherit;
}

#sub-main-right img{
    height: 31em;
    width: 500px;
    margin-top: 77px;
    margin-left: 175px;
}

#sub-main-left h1{
    font-size: 56px;
    color: #032d60;
    font-weight: bold;
    margin-top: 140px;
    line-height: 65px;
    font-family: Salesforce Sans,Arial,sans-serif;
}

#sub-main-left h1+p{
    margin-top: 24px;
    font-size: 20px;
    font-family: var(--pbc-g-font-sans);
}

#div-btn button{
    height: 55px;
    width: 170px;
    background-color: #0176d3;
    border-color: #0176d3;
    color: #ffff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    margin-top: 60px;
}

#div-btn button+button{
    background-color: #ffff;
    border-color: #0176d3;
    color: #0176d3;
    margin-left: 20px;
}

